In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import networkx as nx
import itertools
import math as m
from collections import defaultdict

In [2]:
name_df=pd.read_csv('ranking_data_sets/name.basics.tsv', sep='\t')

In [5]:
popular_actors=['Scarlett Johansson',
                'Emma Mackey',
                'Margot Robbie',
                'Johnny Depp',
                'Jason Momoa',
                'Rinko Kikuchi',
                'Ben Kingsley',
                'Om Puri',
                'Taylor Kitsch',
                'Angelina Jolie',
               'Jennifer Aniston',
               'Chris Hemsworth']


name_fa = name_df[name_df['primaryName'].isin(popular_actors)]

In [6]:
name_fa

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
97,nm0000098,Jennifer Aniston,1969,\N,"actress,producer,soundtrack","tt0279113,tt0108778,tt3442006,tt1723121"
135,nm0000136,Johnny Depp,1963,\N,"actor,producer,soundtrack","tt0325980,tt0449088,tt0408236,tt0367594"
1399,nm0001401,Angelina Jolie,1975,\N,"actress,producer,director","tt0944835,tt1587310,tt0824747,tt0172493"
1424,nm0001426,Ben Kingsley,1943,\N,"actor,soundtrack,producer","tt0083987,tt0108052,tt0203119,tt1300854"
400915,nm0424060,Scarlett Johansson,1984,\N,"actress,soundtrack,producer","tt0335266,tt1798709,tt1441395,tt0848228"
427940,nm0452860,Rinko Kikuchi,1981,\N,"actress,director,writer","tt0844286,tt1663662,tt0449467,tt3263614"
563616,nm0597388,Jason Momoa,1979,\N,"actor,producer,writer","tt5433140,tt0974015,tt1477834,tt4334266"
660711,nm0700875,Om Puri,1950,2017,"actor,miscellaneous,music_department","tt0111742,tt0166175,tt0116409,tt2980648"
2487589,nm1165110,Chris Hemsworth,1983,\N,"actor,producer,soundtrack","tt0796366,tt1735898,tt3501632,tt0848228"
6514055,nm2018237,Taylor Kitsch,1981,\N,"actor,producer,director","tt0758745,tt1440129,tt0401729,tt0458525"
7421027,nm3053338,Margot Robbie,1990,\N,"actress,producer,soundtrack","tt7713068,tt0993846,tt1386697,tt5580036"
11563191,nm8076281,Emma Mackey,1996,\N,actress,"tt10366514,tt7657566,tt1517268,tt12374656"

In [7]:
title_df=pd.read_csv('ranking_data_sets/title.ratings.tsv', sep='\t')

In [8]:
known_titles = name_fa['knownForTitles'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
known_titles.name = 'knownForTitle'

expanded_name_df = name_fa.drop(columns=['knownForTitles']).join(known_titles)


merged_df = pd.merge(expanded_name_df, title_df, left_on='knownForTitle', right_on='tconst')

In [9]:
title_basics_df=pd.read_csv('ranking_data_sets/title.basics.tsv', sep='\t')

/var/folders/fc/2czwg5s15mvc98ksz0lc2bz80000gn/T/ipykernel_40060/1245773564.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df=pd.read_csv('ranking_data_sets/title.basics.tsv', sep='\t')

In [18]:
principle_df=pd.read_csv('ranking_data_sets/title.principals.tsv', sep='\t')

In [19]:
def get_tconst(principle_df,nconst):
    df=principle_df[(principle_df['nconst'] == nconst) & ((principle_df['category'] == 'actress')|((principle_df['category'] == 'actor')))]
    return df['tconst'].tolist()

name_fa['films_tv_participated'] = name_fa['nconst'].apply(lambda x: get_tconst(principle_df, x))

name_fa['films_tv_participated'] = name_fa['nconst'].apply(lambda x: get_tconst(principle_df, x))

name_fa['films_tv_participated'] = name_fa['films_tv_participated'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

films_tv_participated = name_fa['films_tv_participated'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True)
films_tv_participated.name = 'films_tv_participated'

expanded_name_df = name_fa.drop(columns=['films_tv_participated']).join(films_tv_participated)

merged_df = pd.merge(expanded_name_df, title_df, left_on='films_tv_participated', right_on='tconst')

/var/folders/fc/2czwg5s15mvc98ksz0lc2bz80000gn/T/ipykernel_40060/2185868812.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_fa['films_tv_participated'] = name_fa['nconst'].apply(lambda x: get_tconst(principle_df, x))
/var/folders/fc/2czwg5s15mvc98ksz0lc2bz80000gn/T/ipykernel_40060/2185868812.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_fa['films_tv_participated'] = name_fa['nconst'].apply(lambda x: get_tconst(principle_df, x))
/var/folders/fc/2czwg5s15mvc98ksz0lc2bz80000gn/T/ipykernel_40060/2185868812.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_fa['films_tv_participated'] = name_fa['films_tv_participated'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [20]:
merged_df2 = pd.merge(merged_df, title_basics_df, left_on='films_tv_participated', right_on='tconst')

In [21]:
len(merged_df2)

1287

In [22]:
merged_df2_movies=merged_df2[merged_df2['titleType']=='movie']

In [24]:
len(merged_df2_movies)

460

In [25]:
transformed_df = merged_df2_movies.copy()

In [26]:
transformed_df = transformed_df[transformed_df['runtimeMinutes'] != '\\N']

In [27]:
len(transformed_df)

436

In [29]:
def map_genre_to_category(genre):
    if any(sub_genre in genre for sub_genre in ["Action", "Adventure"]):
        return "Action & Adventure"
    elif "Comedy" in genre:
        return "Comedy"
    elif "Drama" in genre:
        return "Drama"
    elif any(sub_genre in genre for sub_genre in ["Horror", "Thriller", "Mystery"]):
        return "Horror & Thriller"
    elif any(sub_genre in genre for sub_genre in ["Sci-Fi", "Fantasy"]):
        return "Science Fiction & Fantasy"
    elif "Crime" in genre:
        return "Crime & Mystery"
    elif any(sub_genre in genre for sub_genre in ["Documentary", "Biography", "History"]):
        return "Documentary & Biography"
    elif any(sub_genre in genre for sub_genre in ["Family", "Animation"]):
        return "Family & Animation"
    elif any(sub_genre in genre for sub_genre in ["Musical", "Music"]):
        return "Musical & Music"
    else:
        return "Other"

In [30]:
transformed_df['genres'] = transformed_df['genres'].apply(map_genre_to_category)

In [31]:
transformed_df.to_csv('ranking_data_sets/imdb_movie_stars_v3.csv', index=False)